.flash-box
.wrapper
  .chat-side-left
    .chat-side-left-header
      .side-header-box
        %p.side-header-box__user-name zhuosi777
        %ul.side-header-box__menu
    .chat-side-left-groups
      .chat-side-left-group
        %p.chat-group-name sample-group
        %p.chat-group-message test
  .chat-side-right
    .chat-side-right-main-header
      .main-header-left-box
        %ul.main-header-left-box__group-list test_group
        %ul.main-header-left-box__member-list Member : zhuosi777
      .main-header-edit-btn Edit
    .chat-side-right-main-menu
      .chat-message
        %p.chat-message-list
        %p.chat-message-list__user-name zhuosi777
        %p.chat-message-list__chat-time 2019/10/11(Fri) 12:04:57
        %p.chat-message-list__text text
    .chat-side-right-from
      .chat-side-right-from-new
        .chat-side-right-input-box
          .chat-side-right-input-box-text
            .chat-side-right-inputo-box-image
              .chat-side-right-send-btn