.chat-side-left{
  width: 300px;
  float: left;
.chat-side-left-header{
  background-color: #253141;
  display: flex;
  color: white;
  height: 100px;
  align-items: center;
  padding: 0 20px;
}
.side-header-box{
  display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}
.chat-side-left-groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}
.chat-side-left-group{
  margin-bottom: 40px;
}
.chat-group-name{
  font-size:  15px;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}
.chat-group-message{
font-size: 11px;
color: white;
font-weight: bold;
}
}

.chat-side-right{
  width: calc(100vw - 300px);
  float: left;

.chat-side-right-main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
}
.main-header-left-box{
  margin-top: 35px;
}
.main-header-left-box__group-list{
  font-size: 20px;
  color: #333333;
  margin-bottom: 15px;
}
.main-header-left-box__member-list{
  display: flex;
  font-size: 12px;
  color: #999999;
}
.main-header-edit-btn{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  border: solid 1px #38aef0;
  position: absolute;
  right: 40px;
  color: #38aef0;
}
.chat-side-right-main-menu{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}
.chat-message{
  padding-bottom: 40px;
}
.chat-message-list{
  display: flex;
  padding-bottom: 10px;
}
.chat-message-list__user-name{
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.chat-message-list__chat-time{
  color: black;
  font-size: 12px;
  margin-left: 10px;
}
.chat-message-list__text{
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
}
.chat-side-right-from{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}
.chat-side-right-from-new{
  display: flex;
}
.chat-side-right-input-box{
  position: relative;
  width: 100%;
}
.chat-side-right-input-box-text{
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
}
.chat-side-right-inputo-box-image{
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
}
.chat-side-right-send-btn{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}
}